<%= link_to image_tag(local_story.image_url), story_path(local_story) %><br />

<li class="story-title"><%= local_story.title %></li><br />
<li class="story-description"><%= local_story.description %></li><br />



<% if signed_in? %>
  <% if (current_user.id == local_story.user_id) %>
  <%= link_to "EDIT", edit_story_path(local_story.id) %>
  <%= button_to "DELETE", story_path(local_story.id), remote: true, method: :delete, class: :delete_button, data: { confirm: "Are you sure you want to delete this shit?"}  %>
  <% end %>
<% end %>