<%= form_for @story, :html => {:id => 'new-story-form', :class => 'hidden'} do |f| %>
  Title:
  <br>
  <%=f.text_field :title %>
  <br>
  <br>

  Description:
  <br>
  <%= f.text_area :description %>
  <br>
  <br>

  Image URL:
  <br>
  <%=f.text_field :image_url %>
  <br>
  <br>
  <div class="submit-button">
  <%=f.submit "Submit your story" %>
  </div>
<% end %>