<li class="story-title"><%= link_to local_story.title, story_path(local_story) %></li><br />
<li class="story-description"><%= local_story.description %></li><br />
<li class="story-image_url"><%= local_story.image_url %></li><br />
<%= image_tag(local_story.image_url) %><br />

<% if signed_in? and current_user.can_edit(local_story) %>
  <%= link_to "EDIT", edit_story_path(local_story.id) %>
  <%= button_to "DELETE", story_path(local_story.id), remote: true, method: :delete, class: :delete_button, data: { confirm: "Are you sure you want to delete this shit?"}  %>
<% end %>